@page "/Categories"

@using LibraryDomain.LibraryItemAggregate
@using Library.Web.Components
@using LibraryDomain.Services

@inject LibraryService libService

<h1>Hello, world!</h1>

Welcome to your new app.

@*<button @onclick="@(() => ShowEditCategory())">AddLibraryItem</button>*@

@*<p>@LibraryItemsPageData.Message</p>*@



@if (LibraryItemsPageData.LibraryItems is null)
{
    <p>Loading...</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Title</td>
                <td>Author</td>
                <td>Category</td>
                <td>Pages</td>
                <td>RunTimeMinutes</td>
                <td>Type</td>
                <td>Borrowable</td>
                <td>Borrower</td>
                <td>BorrowDate</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var libraryItem in LibraryItemsPageData.LibraryItems)
            {
                <tr>
                    <td>@libraryItem.Title</td>
                    <td>@libraryItem.Author</td>
                    <td>@libraryItem.Category</td>
                    <td>@libraryItem.Pages</td>
                    <td>@libraryItem.RunTimeMinutes</td>
                    <td>@libraryItem.Type</td>
                    <td>@libraryItem.IsBorrowable</td>
                    <td>@libraryItem.Borrower</td>
                    <td>@libraryItem.BorrowDate</td>
                    <td> <LibraryItemButtons libraryItem="@libraryItem" /> </td>
                </tr>

            }
        </tbody>

    </table>
}

@code {
    bool showAddLibraryItem = false;
    LibraryItem emptyLibraryItem = new();
    [CascadingParameter] public IModalService Modal { get; set; }

    //Kanske göra async?
    protected override void OnInitialized()
    {
        LibraryItemsPageData.LibraryItems = libService.GetLibraryItems();
    }

    protected void SetShowLibraryItem()
    {
        showAddLibraryItem = !showAddLibraryItem;
    }

    private void ShowEditLibraryItem()
    {
        var parameters = new ModalParameters();
        parameters.Add("LibraryItem", emptyLibraryItem);
        parameters.Add("AddItem", true);

        Modal.Show<EditLibraryItem>("Edit Movie", parameters);
    }
}