@using LibraryDomain.LibraryItemAggregate
@using LibraryDomain.Services

@inject LibraryService libService

@if (borrowed)
{
    <p>@message</p>

    <p>Return this item:</p>
    <EditForm Model="@LibraryItem" OnValidSubmit="@ReturnLibraryItem">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <label>
                Name:
                <InputText class="form-control" id="borrower" @bind-Value="@LibraryItem.Borrower" />
            </label>
        </div>

        <button type="submit" class="btn btn-primary">Return</button>
    </EditForm>
}
else
{
    <p>@message</p>

    <p>Checkout this item:</p>
    <EditForm Model="@LibraryItem" OnValidSubmit="@BorrowLibraryItem">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <label>
                Name:
                <InputText class="form-control" id="borrower" @bind-Value="@LibraryItem.Borrower" />
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Checkout</button>
    </EditForm>
}



@code {
    [Parameter]
    public LibraryItem LibraryItem { get; set; }

    private bool borrowed;
    private string message;

    protected override void OnInitialized()
    {
        if (LibraryItem.Borrower == null)
        {
            borrowed = false;
        }
        else
        {
            borrowed = true;
        }
    }

    private void BorrowLibraryItem()
    {
        if (libService.BorrowLibraryItem(LibraryItem))
        {
            message = $"Book is now borrowed by {LibraryItem.Borrower}";
            borrowed = true;
        }
        else
        {
            message = "Error when borrowing this book";
        }
    }

    private void ReturnLibraryItem()
    {
        string nameOfFormerBorrowe = LibraryItem.Borrower;
        if (libService.ReturnLibraryItem(LibraryItem))
        {
            message = $"Book is now returned by {nameOfFormerBorrowe}";
            borrowed = false;
        }
        else
        {
            message = "Error when returning this book check the name again";
        }
    }

}